{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": 0,
    "no-underscore-dangle": 0,
    "quotes": [2, "single", "avoid-escape"],
    "strict": 0
  },
  "env": {
    "jest": true,
    "node": true
  },
  "globals": {
    "Promise": true
  }
}
